/* #region Base */
.wrapper {
    margin: 0 auto;
    width: 100%;
}
.container {
    width: 1100px;
    margin: 0 auto;
}
.title   {
    height: 28px;
    line-height: 28px;
}
.title-text span {
    display: inline-block;
    padding: 0 20px;
    border-radius: 15px 15px 0 0;
    background: #bedcf6;
    color: #105fa5;
    font-weight: 700;
    font-size: 17px;
    line-height: 28px;
    cursor: pointer;
}
.more {
    font-size: 14px;
}
.more:hover {
    color: gray;
}
/* #endregion Base */
/* #region Topbar */
.wrapper.topbar {
    background-color: #105fa5; 
}
/* #region Header */
.topbar .header {
    height: 116px;
    background-image: url("../images/headerbd.jpg");
    background-position: center bottom;
    background-repeat: no-repeat;

}
.topbar .logo {
    margin-top: 10px;
}
.topbar .search {
    height: 24px;
    border: 1px solid #d0d0d0;
    margin-top: 50px;
    font-size: 0;
}
.topbar .search input {
    width: 110px;
    height: 100%;
    padding-left: 4px;
    margin-right: 8px;
    background-color: transparent;

    color: white;
    font-size: 12px;
    line-height: 16px;
}
.topbar .search input::placeholder {
    color: white;
    font-size: 12px;
    line-height: 16px;
    opacity: .6;
}
.topbar .search button {
    height: 24px;
    width: 32px;
    background-color: transparent;
    background-image: url(../images/search.png);
    background-position: 2px -2px;
    cursor: pointer;
}
.topbar .old {
    margin-top: 20px;
    margin-left: 10px;
    color: #fff;
    font-size: 12px;
    line-height: 26px;
}
/* #endregion Header */

/* #region Nav */
.topbar .nav { 
    height: 46px;
    background-image: url("../images/navbd.jpg");
    background-position: center;
    background-repeat: no-repeat;
    border-bottom: 5px solid #d6bd88;
}
.topbar .nav .container {
    border-top: 1px solid #3977ae;
}
.topbar .nav-item {
    width: 100px;
    height: 42px;
    text-align: center;
    line-height: 42px;

    transition: background-color 0.5s;
}
.topbar .nav-item a {
    color: #fffefe;
    text-align: center;
    font-size: 16px;
    line-height: 42px;
}
.topbar .nav-item:hover {
    background-color: #1384e2;
}


/* #endregion Nav */

/* #endregion Topbar */
/* #region Banner */
.banner { 
    height: 435px;
    background-image: url("../images/bannerbd.jpg");
    background-position: center;
}

.banner img {
    margin: 0 auto;
    height: 435px;
}
/* #endregion Banner */
/* #region Main1 */
.main1 {
    height: 401px;
    background-image: url("../images/mainbd.png");
    background-position: center top;
    background-repeat: no-repeat;
}
.main1 .container {
    padding-top: 25px;
}
.main1 .news {
    width: 718px;
    padding-top: 14px;
}
.main1 .news .title {
    margin-bottom: 6px;
}
.main1 .news .con {
    width: 350px;
    height: 286px;
    padding: 6px 0;
}
.main1 .news .con img {
    width: 350px;
}
.main1 .news .con-title-bg {
    width: 320px;
    height: 45px;
    background-color: #f1f1f1;
    padding: 0 15px;
    line-height: 45px;
}
.main1 .news .con-link {
    color: #105fa5;
    font-size: 16px;
    transition: color 0.5s;
}
.main1 .news .con-link:hover {
    color: #e5e5e5;
}
.main1 .news .post {
    width: 340px;
    height: 300px;
}
.main1 .news .news-text {
    width: 340px;
    height: 128px;
    padding: 5px 0 13px;
}
.main1 .news-text .n1 {
    height: 43px;
    margin-bottom: 10px;
    border-bottom: 1px dashed #c7c7c7;
}
.main1 .news-text .n1 a {
    color: #404040;
    font-size: 16px;
    font-weight: bold;
}
.main1 .news-text .n2 {
    height: 65px;
    margin-bottom: 10px;
    border-bottom: 1px dashed #c7c7c7;
}
.main1 .news-text .n2 .t1 {
    color: #404040;
    font-size: 16px;
    font-weight: bold;
}
.main1 .news-text .n2 .tcon {
    height: 22px;
    padding: 5px 0 13px;
}
.main1 .news-text .tlink {
    font-size: 13px;
    color: #7a7a7a;
    transition: color 0.5s;
}
.main1 .news-text .tlink:hover {
    color: #105fa5;
}
.main1 .post-item {
    height: 34px;
    line-height: 34px;
}
.main1 .plink {
    color: #3b3b3b;
    font-size: 14px;
    transition: color 0.5s;
}
.main1 .plink:hover {
    color: #105fa5;
}

.main1 .inform {
    width: 345px;
    padding-top: 14px;
}
.main1 .inform-item {
    height: 74px;
    margin-bottom: 10px;
    padding-bottom: 16px;
}
.main1 .inform-item:first-child {
    margin-top: 10px;
}
.main1 .inform-item .date {
    width: 72px;
    height: 74px;
}
.main1 .inform-item .day {
    width: 72px;
    height: 41px;
    line-height: 41px;
    background-color: #004891;
    font-size: 24px;
    color: white;
    text-align: center;
    transition: background-color 0.5s;
}
.main1 .inform-item:hover .day {
    background-color: #d6bd88;
}
.main1 .inform-item .month {
    width: 72px;
    height: 31px;
    line-height: 31px;
    margin-top: 2px;
    background-color: #e6e6e6;
    font-size: 12px;
    color: #737373;
    text-align: center;
} 

.main1 .inform-item .inf-link {
    width: 235px;
    height: 66px;
}
.main1 .inform-item .inf-link a {
    color: #3b3b3b;
    font-size: 15px;
    transition: color 0.5s;
    line-height: 32px;
}
.main1 .inform-item .inf-link a:hover {
    color: #105fa5;
}
/* #endregion Main1 */
/* #region Main2 */
.main2 {
    height: 365px;
    background-image: url("../images/mainbd.png");
    background-position: center top;
    background-repeat: no-repeat;
}
.main2 .container {
    padding: 35px 0 40px;
}
.main2 .main2-item {
    width: 350px;
    margin-right: 25px;
    margin-bottom: 10px;
}
.main2 .main2-item:last-child {
    margin-right: 0;
}
.main2 .news-list {
    padding: 6px 0;
}
.main2 .news-list li {
    height: 24px;
    line-height: 24px;
    margin-bottom: 10px;
}
.main2 .news-list li a {
    color: #3b3b3b;
    font-size: 14px;
    transition: color 0.5s;
}
.main2 .news-list li a:hover {
    color: #105fa5;
}
.main2 .news-list li .date {
    font-size: 14px;
    color: #999;
}
/* #endregion Main2 */
/* #region Main3 */
.main3 {
    height: 752px;
}
.main3 .bar .title {
    margin-bottom: 25px;
    border-bottom: 1px solid #cccccc;
}
/* #region Bar1*/ 
.main3 .bar1 {
    height: 288px;
    margin-bottom: 25px;
}
.bar1 .scroll {
    height: 220px;
    padding: 6px 0;
}
/* #endregion Bar1*/ 

/* #region Bar2*/ 
.main3 .bar2 {
    height: 236px;
    margin-bottom: 10px;
}
.bar2 .intro {
    height: 126px;
    padding: 12px 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    column-gap: 20px;  
    align-content: flex-start;

}
.bar2 .intro-item {
    width: 339px;
    height: 48px;
    line-height: 48px;
    border: 1px solid #b9c9d7;
    background: #ebf1f5;
    text-align: center;
    margin-bottom: 25px;
    flex: 0 0 calc(33.333% - 20px);
    cursor: pointer;
}
.bar2 .intro-item a {
    font-size: 15px;
    color: #3b3b3b;
    transition: color 0.5s;
}
.bar2 .intro-item:hover a {
    color: #105fa5;
}
.bar2 .more {
    margin-top: 15px;
    height: 15px;
}
/* #endregion Bar2*/ 

/* #region Bar3*/ 
.main3 .bar3 {
    height: 153px;
    margin: 30px 0 20px;
}
.bar3 .resource {
    height: 85px;
    padding: 6px 0;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    column-gap: 14px;
}
.bar3 .rss-item {
    width: 145px;
    height: 75px;
    background-image: url(../images/rss1.png);
    background-repeat: no-repeat;
    font-size: 15px;
    color: #3b3b3b;
    text-align: center;
    cursor: pointer;
    padding-top: 40px;
}
/* #endregion Bar3*/ 

/* #endregion Main3 */
/* #region Footer */
.footer {
    height: 231px;
    background-color: #105fa5;
}
.footer .links {
    height: 84px;
    line-height: 34px;
}
.footer .link-item {
    padding: 25px 14px;
}
.footer .link-item a,
.footer .link-item h3 {
    color: #fff;
    font-size: 14px;
}
.footer .link-item h3 {
    font-weight: bold;
}
.footer .copyright {
    height: 57px;
    padding: 45px 0;
    overflow: hidden;
    /* BFC */ 
    border-top: 1px solid #287cc6;
}
.footer .copyright p {
    text-align: center;
}
.footer .copyright span {
    color: #fff;
    font-weight: 400;
    font-size: 13px;
    font-family: "微软雅黑";
    line-height: 28px;
}
.footer .qr {
    margin-top: -85px;
    margin-right: 10px;
}
.footer .qr-item {
    margin-left: 20px;
    text-align: center;
}
.footer img {
    height: 80px;
    width: 80px;
    transition: transform 0.3s;
}
.footer img:hover {
    transform: scale(1.15);
}
.footer .qr-item .qr-text {
    color: #fff;
    font-size: 12px;
    line-height: 29px;
}
/* #endregion Footer */